---
layout: default
title: Philip Roberts
---

<div class="posts-list">
  <h1>{{ page.title }}</h1>

  <h3 class='home-section'>Essays</h3>
  <ul class='posts'>
    {% for post in site.categories.essay %}
      {% if post.layout != 'hack' %}
        <li class="{{ post.layout }}"><a href="{{post.url}}">{{ post.title || post.slug }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <h3 class='home-section'>Talks</h3>
  <ul class='posts'>
    {% for post in site.categories.talk %}
      {% if post.layout != 'hack' %}
        <li class="{{ post.layout }}"><a href="{{post.url}}">{{ post.title || post.slug }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <h3 class='home-section'>Other Thoughts</h3>
  <ul class='posts'>
    {% for post in site.categories.thought %}
      {% if post.layout != 'hack' %}
        <li class="{{ post.layout }}"><a href="{{post.url}}">{{ post.title || post.slug }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  {% comment %}
  <h3 class='home-section'>Other thoughts</h3>
  <ul class='posts'>
    {% for post in site.posts %}
      {% assign essay = post.categories contains 'essay' %}
      {% assign talk = post.categories contains 'talk' %}

      {% if post.layout != 'hack' and essay != true and talk != true %}
        <li class="{{ post.layout }}"><a href="{{post.url}}">{{ post.title || post.slug }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endcomment %}

</div>
