
body {
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, sans;
  font-size: medium;
  line-height: 1.5;
  font-weight: 200;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight: 200;
}

blockquote {
  margin-left: 0.5em;
  margin-right: 1.25em;
  border-left: 0.25em solid #eee;
  padding-left: 0.5em;
}


a, a:visited {
  color: #DE6600;
  color: #D0002A;

  &:hover {
    text-decoration: underline;
  }
}

strong, b {
  font-weight: 500;
}


code {
  font-family: DroidSansMonoRegular, "Courier New";
  font-size: small;
}

pre {
  padding: 0.5em;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.code-output {
  border: 1px gray dotted;
  position: relative;
  padding-top: 20px;
  margin-bottom: 2em;
  &::before {
    content: "OUTPUT";
    position: absolute;
    top: 2px;
    left: 2px;
    color: gray;
    font-family: Helvetica Neue, sans;
    font-size: 10px;;
  }
}

h2 {
  position: relative;
  .permalink {
    color: #ccc;
    visibility: hidden;
    text-decoration: none;
    font-size: small;
  }

  &:hover {
    .permalink {
      visibility: visible;
    }
  }
}
