@import 'reset';
@import 'typography';
@import 'font-awesome';
@import 'droid';
@import 'pygments-monokai';
@import 'posts';

main, .topbar-inner {
  max-width: 500px;
  width: 100%;
  display: block;
  padding: 1em;
  margin: 0 auto;
}

.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.topbar {
  background: #D0002A;
  color: white;
  .topbar-inner {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    overflow: hidden;
  }

  line-height: 1;

  h1, a {
    font-size: medium;
    display: inline;
    margin: 0;
    padding: 0;
  }

  .logo, nav {
    padding: 0;
    margin: 0;
  }

  .logo {
    float: left;
    width: 50%;
  }

  nav {
    width: 50%;
    float: right;
    text-align: right;
  }

  a {
    &, &:visited {
      color: white;
    }

    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(0,0,0,0.2);
  }

  nav a {
    padding-left: 1em;
  }
}


nav.posts {
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: large;
  a { 
    text-decoration: none;
  }
}

@media screen and (min-width: 500px) {
  main, nav {
    width: 500px;
  }
}







.posts-list {
  h1 {
    text-align: center;
    font-weight: 200;
    border-bottom: 1px #999 solid;
    padding-bottom: 0.25em;
    margin-bottom: 1em;
  }
}

ul.posts {
  list-style-type: none;
  margin-left: 1em;
  margin-right: 1em;

  li {
    margin-bottom: 0.25em;
  }

  li:before {
    position: relative;
    left: -0.5em;
  }

  li.text {
    @extend .icon-pencil;
  }

  li.quote {
    @extend .icon-quote-left;
  }

  li.photo {
    @extend .icon-camera-retro;
  }

  li.video {
    @extend .icon-film;
  }

  li.code {
    @extend .icon-file-alt;
  }

  li:before {
    font-family: FontAwesome;
  }

  a {
    text-decoration: none;
  }
}

.hacks-list {
  li {
    height: 250px;
    overflow: hidden;
    position: relative;
    left: 0;
  }
  img {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  span.title {
    display: block;
    padding: 0.75em;
    position: absolute;
    top: 1em;
    left: 0;
    background: rgba(0,0,0,0.75);
    color: white;
  }
}
